<article class="shadow links-card">
    <header class="post-header">
        <div class="post-container">
            <h1 class="post-title"><%= __('post.about') %></h1>
        </div>
    </header>
    <%- post.content %>
</article>