:root {
    --transitionTime     : .35s ease; // 过渡时间
    --hColor             : #000; // 主要字体色
    --metaColor          : #5c5c5c; // 次要信息颜色
    --bodyBgColor        : #f2f3f0; // 主题背景色
    --headBgColor        : #fff; // 头部背景色
    --markHeadBgColor    : #eee; // 动画切换遮罩色
    --markBgColor        : #252525; // 动画切换遮罩色
    --commentColor       : #525f7f; // 评论组建主题色
    --dashedBorderColor  : #c5c5c5; // 分割边框色
    --postLinkColor      : #6062ce; // 文章中超链接
    --nprogressColor     : #756dbb; // 加载进度条色
    --linkItemBgColor    : #f9f9f9; // 友链背景色
    --linkItemBgColor2   : #fff; // 友链hover背景色
    --linkDecorationColor: #8b959f66; // 链接下划线颜色
    --ngBarBgColor       : #5873ca; // 加载进度条颜色

    &.dark {
        --hColor             : #f2f3f0;
        --metaColor          : #e6e6e6;
        --bodyBgColor        : #252525;
        --headBgColor        : #1d1d1d;
        --markHeadBgColor    : #353535;
        --markBgColor        : #f2f3f0;
        --commentColor       : #becae7;
        --nprogressColor     : #fff3e5;
        --linkItemBgColor    : #353535;
        --linkItemBgColor2   : #000;
        --linkDecorationColor: #647ad875;
    }
}

@import url('./mixin.less');